<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="show_sql">true</property>
        <property name="connection.pool_size">1</property>

        <mapping class="fr.aws.lambdastore.product.model.Product"></mapping>
        <mapping class="fr.aws.lambdastore.vendor.model.Vendor"></mapping>
        <mapping class="fr.aws.lambdastore.variant.model.Variant"></mapping>
    </session-factory>
</hibernate-configuration>